<main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-5">
	<div class="row pt-3 pb-2">
		<div class="col-md-4">
			<h3>Grupos de Cuentas</h3>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nombre</th>
						<th scope="col">Activo</th>
						<th scope="col">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Activos</th>
						<td><input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled></td>
						<td style="text-align:center"><button type="button" class="btn btn-secondary btn-sm"><i class="far fa-edit"></i></button>&nbsp;<button type="button" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button></td>
					</tr>
				</tbody>
			</table>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="nombre de cuenta">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary"><i class="far fa-plus-square"></i> Agregar Cuenta</button>
      </div>
		</div>
    <div class="col-md-1">&nbsp;</div>
		<div class="col-md-7">
      <div class="row">
			  <h3>Nombre del Grupo de Cuenta</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="nombre sub-cuenta">
          </div>
          <div class="form-group">
            <select name="" id="" class="form-control">
              <option value="">Seleccione</option>
            </select>
          </div>
          <div class="form-group">
            <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">Entradas</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">Salidas</label>
</div>

          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary"><i class="far fa-save"></i> Registrar</button>
          </div>
        </div>
      </div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Grupo</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="col">Caja Chica</td>
            <td scope="col">Salida</td>
            <td scope="col"><button type="button" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
	</div>
</main>