<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">RDJCH-CA1068101</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
          <label for="QuoteDate">Fecha de Movimiento</label>
          <input class="form-control" name="QuoteDate" id="QuoteDate" type="date" value="07/01/2019" />
        </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12">
            <h5>Debe desde ENERO/2019 hasta ENERO/2019</h5>
          </div>
          </div>
        </div>
        
<div class="row">
  <div class="col-md-6">
        <div class="form-group">
                    <label for="PaymentMethod">Medio de Pago</label>
                    <select name="PaymentMethod" class="form-control" id="PaymentMethod"><option value="1">Efectivo</option><option value="2">Debito</option><option value="3">T. Credito</option><option value="4">Transferencia</option><option value="5">Cheque</option></select>
                </div>

  </div>
  <div class="col-md-6">
    <div class="form-group">
                    <label for="PaymentType">Tipo de Pago</label>
                    <select name="PaymentType" class="form-control" id="PaymentType"><option value="0">-- Seleccione --</option><option value="1">Cuota</option><option value="2">Anualidad</option><option value="3">Regularizacion/Actualizacion</option><option value="4">Otro</option></select>
                </div>
  </div>
</div>
  
  <div class="row">
    <div class="col-md-6">
<div class="form-group">
                    <label for="PaymentPeriod">Año</label>
                    <select name="PaymentPeriod" class="form-control" id="PaymentPeriod" data-val-required="The PaymentPeriod field is required." data-val-number="The field PaymentPeriod must be a number." data-val="true"><option value="">-- Seleccione --</option>
<option value="2004">2004</option>
<option value="2005">2005</option>
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
<option value="2013">2013</option>
<option value="2014">2014</option>
<option value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
<option value="2018">2018</option>
<option value="2019">2019</option>
<option value="2020">2020</option>
</select>
                </div>
    </div>

  </div>

<div class="row">
  <div class="col-md-12">
    <label for="months">Mes</label>
  </div>
</div>


  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        
        <ul>
          <li>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Enero</label>
          </li>
          <li>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Febrero</label>
          </li>
          <li>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Marzo</label>
          </li>
          <li>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Abril</label>
          </li>
        </ul>
      </div>
    </div>
      
      <div class="col-md-4">
      <div class="form-group">
        <ul>
          <li>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Mayo</label>
          </li>
          <li>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Junio</label>
          </li>
          <li>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Julio</label>
          </li>
          <li>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Agosto</label>
          </li>
        </ul>
      </div>
    </div>

<div class="col-md-4">
      <div class="form-group">
        <ul>
          <li>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Septiembre</label>
          </li>
          <li>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Octubre</label>
          </li>
          <li>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Noviembre</label>
          </li>
          <li>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Diciembre</label>
          </li>
        </ul>
      </div>
    </div>

  </div>
      
  <div class="row">
    <div class="col-md-6">
<div class="form-group">
                <label for="Amount">Total a Pagar</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input class="form-control" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="Amount" name="Amount" type="text" value="0" />
                </div>
    </div>
    
            </div>
            <div class="col-md-6"><div class="form-group">
            <label for="Notes">Observaciones</label>
            <textarea class="form-control" cols="20" id="Notes" name="Notes" rows="3">
</textarea>
        </div></div>
  </div>
  
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary"><i class="far fa-save"></i> Save changes</button>
        <button type="button" class="btn btn-info"><i class="fas fa-print"></i> Print</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="far fa-trash-alt"></i> Delete</button>
      </div>
    </div>
  </div>
</div>