<form [formGroup]="profileForm">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="Name">Nombre</label>
        <input class="form-control" formControlName="name" />
      </div>
    </div>
    <div class="col-md-6">
			<div class="form-group">
				<label for="Name">Apellidos</label>
        <input class="form-control" formControlName="lastName" />
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <label for="Phone">Telefono</label>
              <input class="form-control" formControlName="phone" />
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <label for="Mobile">Movil</label>
              <input class="form-control" formControlName="mobile" />
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
          <label for="Email">Correo electr&#243;nico</label>
          <input type="text" class="form-control" formControlName="email" />
      </div>
    </div>
  </div>


        
        
<div class="row">
  <div class="col-md-6">
     <div class="form-group">
            <label for="streetName">Calle</label>
            <ejs-combobox  
              formControlName="streetName"
              placeHolder="Select a street"
              [dataSource]="streetsDataSource$ | async" 
              [fields]="dropDownFields">
            </ejs-combobox>
        </div>
  </div>
  <div class="col-md-6">
        <div class="form-group">
            <label for="placeTypeName">Tipo</label>
            <ejs-combobox  
              formControlName="placeTypeName"
              placeHolder="Select a location"
              [dataSource]="locationsDataSource$ | async" 
              [fields]="dropDownFields">
            </ejs-combobox>
        </div>
  </div>

</div>
</form>


<div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Apple">Manzana</label>
                    <input class="form-control short-number" 
                      data-val="true" 
                      data-val-number="The field Apple must be a number." 
                      data-val-required="The Apple field is required." 
                      id="Apple" 
                      maxLength="3" 
                      name="Apple" 
                      type="text" 
                      value="68" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Lot">Lote</label>
                    <input class="form-control short-number" id="Lot" maxLength="3" name="Lot" type="text" value="73" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Number">No. Ext</label>
                    <input class="form-control short-number" id="Number" maxLength="8" name="Number" type="text" value="101" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Interior">No. Int</label>
                    <input class="form-control short-number" id="Interior" maxLength="8" name="Interior" type="text" value="" />
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary"><i class="far fa-save"></i> Save</button>&nbsp;
            <button class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete</button>
          </div>
        </div>