<div class="container-fluid">
	<div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky">
				<ul class="nav flex-column">
					<li class="nav-item">
            <ejs-combobox 
              placeHolder="Select a street"
              [dataSource]="streets$ | async" 
              [fields]="dropDownFields" 
              (change)="streetSelected($event)">
            </ejs-combobox>
          </li>
          <li class="nav-item" *ngFor="let profile of profiles$ | async">
            <a class="nav-link {{selectedId === profile.id ? 'active' : ''}}" (click)="navigate(profile)" active>
              [{{profile.number}}] {{profile.name}} {{profile.lastName}}
            </a>
          </li>
        </ul>
        
      </div>
    </nav>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 pt-5">
    <div *ngIf="(profileService.selectedProfile$ | async) as profile" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h3 class="h3"><i class="far fa-id-badge"></i>  {{ profile.profileNumber }}</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="./overview" routerLinkActive="active">General</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="./detail" routerLinkActive="active">Expediente </button>
            <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="./history" routerLinkActive="active">Historial</button>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Pagar</button> -->
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#notesModal">Nota</button> -->
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Eliminar</button> -->
          </div>
          <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button> -->
        </div>
      </div>
    <router-outlet></router-outlet>
    </main>
  </div>
</div>