<div class="container-fluid">
	<div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky">
				<ul class="nav flex-column">
					<li class="nav-item">
            <ejs-combobox 
              placeHolder="Select a street"
              [dataSource]="streets$ | async" 
              [fields]="dropDownFields" 
              (change)="streetSelected($event)">
            </ejs-combobox>
          </li>
          <li class="nav-item" *ngFor="let profile of profiles$ | async">
            <a class="nav-link" (click)="navigate(profile)">
              [{{profile.number}}] {{profile.name}} {{profile.lastName}}
            </a>
          </li>
        </ul>
        
      </div>
    </nav>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 pt-5">
    <div *ngIf="(profileService.selectedProfile$ | async) as profile" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h3"><i class="far fa-id-badge"></i>  {{ profile.profileNumber }}</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="./overview" routerLinkActive="active">General</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="./detail" routerLinkActive="active">Expediente </button>
            <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="./history" routerLinkActive="active">Historial</button>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Pagar</button> -->
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#notesModal">Nota</button> -->
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Eliminar</button> -->
          </div>
          <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button> -->
        </div>
      </div>
    <router-outlet></router-outlet>
    </main>
  </div>
</div>


<!-- <div class="modal fade bd-example-modal-sm" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Observaci&#243;n</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" cols="20" id="NotesText" name="NotesText" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->