<ng-container *ngIf="(profileService.selectedProfile$ | async) as profile ">
	<div class="row mt-1">
		<div class="col-md-12">
			<div class="e-card">
				<div class="e-card-header">
					<div class="e-card-header-caption">
						<div class="e-card-header-title">{{profile.name}} {{profile.lastName}}</div>
					</div>
				</div>
				<div class="e-card-content">
					{{ profile.streetName }} Manzana {{profile.apple}} Lote {{profile.lot}} No. {{profile.exteriorNo}}
				</div>
			</div>

		</div>
	</div>

	<div class="row mt-2">
		<div class="col-md-6">
			<div class="e-card">
				<div class="e-card-header">
					<div class="e-card-header-caption">
						<div class="e-card-header-title">Estatus</div>
					</div>
				</div>
				<div class="e-card-content">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							Ultimo Pago <span class="badge">{{profile.lastPayment.paymentDate}}</span>
            </li>
            <li class="list-group-item">
              Tipo <span class="badge">{{profile.lastPayment.paymentType}}</span>
            </li>
            <li class="list-group-item">
              Periodo <span class="badge">{{profile.lastPayment.year}}</span>
            </li>
            <li class="list-group-item" *ngIf="profile.lastPayment.period">
              {{profile.lastPayment.period}}
            </li>
            <li class="list-group-item" *ngIf="profile.lastPayment.reference">
              {{profile.lastPayment.reference}}
            </li>
            <li class="list-group-item list-group-item-info">
                <strong>Situación actual</strong>
            </li>
            <li class="list-group-item list-group-item-danger">
                {{profile.lastPayment.currentStatus}}
            </li>
          </ul>
          <div class="form-group mt-">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#notesModal"><i class="fas fa-wallet"></i> Realizar Pago</button>
          </div>
        </div>         
        
    </div>
  </div>

  <div class="col-md-6">
    <div class="e-card">
      <div class="e-card-header">
					<div class="e-card-header-caption">
						<div class="e-card-header-title">Observaciones</div>
					</div>
				</div>
				<div class="e-card-content">
              <div class="col-md-12">
                <div class="form-group"> 
                  <textarea class="form-control" cols="20" id="Notes" name="Notes" rows="3"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <button type="button" id="registerNote" class="btn btn-info" onclick="profileView.registerNote();" title="Agregar Comentario"><i class="far fa-sticky-note"></i> Registrar</button>
                </div>
                <div class="form-group">
                  <button type="button" id="registerNote" class="btn btn-secondary" title="Ver comentarios" (click)="viewNotesHistory()"><i class="far fa-sticky-note"></i> Ver</button>
                </div>
              </div>
        </div>
    </div>
    </div>
</div>

	<div class="row mt-2">
		<div class="col-md-6">
        
    </div>
	


    


        </div>

            <ejs-dialog #notesDialog [visible]="visible" [isModal]="true" width="500px">
              <ng-template #content>
                <div class="dialogContent">
                    <table class="table table-condensed" *ngIf="profile.notes">
                        <tbody id="tbNotes">
                                <tr *ngFor="let note of profile.notes">
                                    <td>[{{note.creationDate}}] {{note.note}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteNote(note.id);"><i class="far fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
              </ng-template>
            </ejs-dialog>

</ng-container>

<profile-payment></profile-payment>