<div class="row">
  <div class="col-md-12">
    <table class="table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Tipo</th>
                            <th>Monto</th>
                            <th>Año</th>
                            <th>Periodo(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i> RDJ-201612034</a></td>
                            <td><span>Actualizacion/Regularizacion</span></td>
                            <td>$ 3,360.00</td>
                            <td>2017</td>
                            <td>ene. a dic. del 2017<br/></td>
                        </tr>
                    </tbody>
                </table>
  </div>
</div>