<div class="row">
  <div class="col-md-12">
    <ejs-grid [dataSource]="paymentDataSource">
                <e-columns>
                    <e-column field='paymentType' headerText='Tipo' textAlign='Center' width=90 type="string"></e-column>
                    <e-column field='amount' headerText='Monto' width=120 format='C2' type="number" textAlign='Center'></e-column>
                    <e-column field='year' headerText='Ano' textAlign='Center' width=90 type="number"></e-column>
                    <e-column field='periods' headerText='Periodo(s)' textAlign='Center'  type="string" width=120></e-column>
                  <e-column headerText='Detalle' width=140 [commands]="commands"></e-column>
                </e-columns>
                </ejs-grid>
  </div>
</div>